body{
  background-color: #FFCF81;
}
img{
    height: 200px;
}
.container {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10rem;
    background-color: #FFCF81;
  }
#ball {
    height: 150px;
    z-index: -1;
    position: absolute;
    top: 38%;
    left: -5%;
}
.two{
  position: relative;
}
.cup-content{
  position: relative;
  z-index: 1;
}
.show{
    position: relative;
    bottom: 100px;
}

.one{
  position: relative;
}
.cup{
  margin: 250px 30px 0px 30px;
}
#start{
  font-size: large;
  letter-spacing: 1px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
.result{
  font-size: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}